* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c6288b;
}

img {
    float: right;
    max-width: 760px;
}

@media screen and (max-width: 760px) {
    img {
        float: none;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: #eb95fc;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

@media screen and (max-width: 320px) {
    body {
        background-color: beige;
        font-family: 'Courier New', Courier, monospace;
    }
}